@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 351 27% 9%;
    --foreground: 353 40% 92%;

    --card: 353 100% 10%;
    --card-foreground: 353 98% 86%;

    --popover: 353 100% 20%;
    --popover-foreground: 354 94% 86%;

    --primary: 353 100% 46%;
    --primary-foreground: 353 89% 86%;

    --secondary: 22 100% 46%;
    --secondary-foreground: 22 91% 81%;

    --muted: 351 10% 19%;
    --muted-foreground: 353 12% 66%;

    --accent: 353 100% 30%;
    --accent-foreground: 354.2 92% 86%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 100% 95%;

    --border: 353 89% 94%;
    --input: 353 89% 96%;
    --ring: 353 100% 46%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .section {
    @apply py-2 px-4 md:px-8 xl:px-24;
  }
}

*::selection {
  color: hsl(var(--accent-foreground));
  background-color: hsl(var(--accent));
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  background-color: transparent; /* Transparent background */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted)); /* Red color for the thumb */
  border-radius: 6px; /* Rounded edges */
}

/* Optional: Style for the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Transparent background */
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: hsl(var(--muted)) transparent; /* Red color for the thumb and transparent background */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
/* Firefox */
*::-webkit-scrollbar-thumb {
  background-color: red; /* Red color for the thumb */
  border-radius: 6px; /* Rounded edges */
}

*::-webkit-scrollbar-button {
  display: none;
}
